name: golangci-lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          lint-version: "v2.6.2"
          check-latest: true
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ matrix.lint }}
          args: --timeout 3m
